{% extends 'base.html' %}
{% block title %}
  Mine BuzzCoin!
{% endblock %}
{% block content %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Valid?</th>
    </tr>
</thead>
<tbody>
    <!-- Your rows inside the table HERE: -->
    {% for block in blockchain.chain %}
        <tr>
            <td>{{block.receiver}}</td>
            <td>{{block.prev}}</td>
            <td>{{block.time}}</td>
            </td>
        </tr>
      {% endfor %}
</tbody>
</table>
<body>
  <button class="button btn btn-outline btn-info">Mine</button>
</body>
<style>
  .button {
    background-color: #003057;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;

  }
  </style>
{% endblock %}